{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block other %}
    <p><a href ='/'>Вернуться назад</a></p>
    <h2 class ="text-center" >Wellcome!</h2><br>
    <div class="text-center alert ss-warning mt-2 mt-2">
        <h2>Регистрация</h2>
    </div>
    <div class="alert ss-warning mt-2 col-3">
        <form id="add form" method="post">
            {% csrf_token %}
            {{form}}
            <button form="add form" type="submit" class="btn btn-primary mt-4">Добавить</button>
        </form>
    </div>
    <div class="text-center">
        <p>Link shortening</p>
        <h2>by one click</h2>
    </div>

{% endblock %}