{% extends "main/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block other %}
    <div class="text-center alert ss-warning mt-2">
        <h1>Forgotten your password?</h1>
        <p>Enter your e-mail address to obtain a new password.</p>
        <form action="{% url 'password_reset' %}" method="post">
            {{ form }}
            {% csrf_token %}
    </div>
        <div class="text-center">
            <p><input type="submit" value="Send e-mail"></p>
        </div>
        </form>

{% endblock %}
