{% extends "main/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block other %}
    <div>
        {% if validlink %}
            <p class="text-center alert ss-warning mt-2">Please enter your new password twice:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
    </div>
                <p class="text-center"><input type="submit" value="Change my password"/></p>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
{% endblock %}
